body {
  margin: 0;
  padding: 0;
}

header{
  grid-area: header;
  height: 100px;
  padding: 20px;
  margin:   ;
  background-color: yellow;
}

header h1 {
    font-size: 2em;
}
menu{
grid-area: menu;
margin: 0;
padding: 0;
background-color: purple;
display: flex;
flex-direction: row;

}
#start-sida{
  display: flex;
  width: 25%;
  background-color: blue;
  padding: 3px;
  margin: 6px;
  border-radius: 10px;
}
#start-sida h3{
margin-left: 30%;
}
#Om-oss{
  display: flex;
  width: 25%;
  background-color: blue;
  padding: 3px;
  margin: 6px;
  border-radius: 10px;

}
#Om-oss h3{
margin-left: 30%;
}

main{
  grid-area: main;
  height: 800px;
  padding: 20px;
  margin: ;
  background-color: pink;
}

.höger{
  grid-area: höger;
  height: 800px;
  padding: 20px;
  margin: ;
  background-color: grey;
}
nav{
  grid-area: nav;
  height: 800px;
  padding: 20px;
  display: grid;


  background-color: blue;
}
footer{
  grid-area: footer;
  height: 70px;
  padding: 20px;
  margin: ;
  background-color: red;
}

.grid-container {
  height:100%;
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu menu menu menu menu menu"
    "nav main main main höger höger"
    "footer footer footer footer footer footer";
}
